* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
}

.logo img {
    width: 10%;
    max-width: 10%;
    margin: 0 auto;
    height: auto;
}

h1 {
    text-align: center;
    color: #555;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -.015em;
}

p {
    margin-top: 10px;
    line-height: 1.58;
    letter-spacing: -0.003em;
}

/*
hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #636363;
    margin: 30px 0;
    padding: 0;
}

.hr-big {
    width: 65%;
    margin: 0 auto;
    box-shadow: 2px 2px 8px 0px grey;
}

.hr-middle {
    width: 35%;
    margin: 0 auto;
    box-shadow: 2px 2px 8px 0px grey;
}

.hr-small {
    width: 35%;
    margin: 0 auto;
    box-shadow: 2px 2px 8px 0px grey;
}
*/

article,
.info {
    text-align: justify;
    color: #333;
}

.img-shadow {
    box-shadow: 2px 2px 8px 0px grey;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.rating {
    text-align: right;
    font-size: 14px;
    margin-top: 4%;
}

.rating__star-image,
.rating__eye-image {
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.rating__star-image:hover,
.rating__eye-image:hover {
    opacity: 0.6;
}

.rating__star-image {
    background-image: url(../img/star.png);
    height: 11px;
    width: 13px;
}

.rating__eye-image {
    height: 9px;
    width: 16px;
    background-image: url(../img/eye.png);
}


.rating > span {
    margin-left: 10px;
}

.rating img {
    height: 12px;
}

.rating__eye img {
    height: 12px;
}

.img-responsive {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.content-image {
    margin: 15px 0;
}

.fa {
    width: 20px;
}

.info {
    margin: 20px 0 50px;
    /*    margin-bottom: 50px;*/
    font-size: 14px;
    line-height: 1.6;

}

.info-common {
    display: inline-block;
}

.info__category i {
    color: #2A2684;
}

.info__aut i {
    color: #FFB500;
}

.info__date i {
    color: #2EAC07;
}

.info__coordinates i {
    color: #337AB7;
}

.info__fb-share {
    width: 70px;
    margin-top: 16px;
    display: block;
}

.info__download-html {
    float: right;
    display: inline-block;
    margin-top: 16px;
    background-image: url(../img/download_img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.info__fb-share img {
    width: 100%;
}

.rating img:hover,
.info__message:hover,
.info__fb-share:hover,
/*.info__i:hover,*/

.info__download-html:hover,
.back-arrow:hover {
    opacity: .5;
}

.back-arrow {
    float: left;
    display: block;
    margin-top: 16px;
    background-image: url(../img/back-arrow.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    opacity: 0.4;
    position: fixed;
    bottom: 3%;
    left: 3%;
}

.back-arrow:hover {
    opacity: 0.8;
}

.iframe {
    float: right;
}

.iframe:after {
    clear: both;
}

.download {
    float: right;
    display: inline-block;
    margin-top: 16px;
    position: fixed;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    opacity: 1;
    position: fixed;
    bottom: 6%;
    right: 3%;
}

@media (max-width: 620px) {
    hr {
        margin-top: 19px;
        margin-bottom: 19px;
    }
    /*
    .rating {
        margin-top: -18px;
    }
*/
    .iframe {
        float: none;
        margin-top: 30px;
    }
}
